* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #2B2B2B;

}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}


.section1 {
    margin: 80px 0px;

    .text_foto {
        display: flex;
        align-items: center;
        gap: 30px;

        .text_sec1 {
            max-width: 510px;
            width: 100%;
            color: white;


            h1 {
                max-width: 440px;
                width: 100%;
                font-family: Work Sans;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 67px;
                line-height: 110.00000000000001%;
                letter-spacing: 0%;
                vertical-align: middle;
                text-transform: capitalize;
                color: #FFFFFF;


            }

            .nft {
                max-width: 440px;
                width: 100%;
                margin: 20px 0px 30px;
                font-family: Work Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 22px;
                line-height: 160%;
                letter-spacing: 0%;
                text-transform: capitalize;

            }

            button {
                background: #A259FF;
                border: none;
                padding: 19px 50px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: Work Sans;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: center;
                color: white;


            }

            .sales {
                display: flex;
                align-items: center;
                gap: 30px;

                .sale1 {
                    margin-top: 30px;
                    text-align: start;
                    max-width: 150px;
                    width: 100%;
                    color: white;

                    h1 {
                        font-family: Space Mono;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 28px;
                        line-height: 140%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        text-transform: capitalize;

                    }

                    p {
                        font-family: Work Sans;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 23.99px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        text-transform: capitalize;

                    }
                }
            }

        }

        .foto_sec1 {
            max-width: 510px;
            width: 100%;

            .foto1{
                max-width: 510px;
                width: 100%;
            }

            .foto_sec1_text {
                background: #3B3B3B;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                padding: 20px;
                padding: 22px 20px;
                margin-top: -4px;

                h1 {
                    font-family: Work Sans;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 22px;
                    color: white;
                    line-height: 140%;
                    letter-spacing: 0%;
                    text-transform: capitalize;

                }

                .avatar {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 10px;

                    p {
                        font-family: Work Sans;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0%;
                        color: white;

                    }
                }
            }
        }
        .foto2_sec1{
            display: none;
        }
    }
}